<% include partials/_header %>

<div class="container">
    <div class="row">
        <!--Formulario-->

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="titulo" placeholder="Inserte un título" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea name="descripcion" cols="80" class="form-control" placeholder="Inserte una descripción"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Agregar
                        </button>
                    </form>

                </div>
            </div>
        </div>
        <!--Lista-->
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Operaciones</th>
                    </tr>

                </thead>
                <tbody>

                    <% for (var i = 0; i < tareas.length; i++) { %>
                    <tr>
                        <td>
                            <%= i + 1%>
                        </td>
                        <td>
                            <%=  tareas[i].titulo%>
                        </td>
                        <td>
                            <%=  tareas[i].descripcion%>
                        </td>
                        <td>
                            <a href="/convertir/<%= tareas[i]._id %>" 
                                class="btn <%= tareas[i].estado ? 'btn-success' : 'btn-dark' %>">
                                Hecho
                            </a>
                            <a href="/delete/<%= tareas[i]._id %>" class="btn btn-danger">Eliminar</a>
                            <a href="/editar/<%= tareas[i]._id %>" 
                                class="btn btn-info">Editar</a>
                        </td>
                    </tr>
                    <% }%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include partials/_footer %>